/* Global */
body {
  margin: auto;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
  color: #0a3d62;
  background-attachment: fixed;
}

/* Navbar */
.start-view {
  background-image: url(/images/close-up-shot-of-crystals-3737455.jpg);
  min-height: 0;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.welcome-view {
  padding: 100px 0;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
  text-shadow: 3px 3px 8px black;
}

.navbar-nav {
  margin: 0 20px;
}

.dropdown-toggle {
  color: white !important;
  font-weight: bold;
  text-shadow: 3px 3px 8px black;
  margin: auto 20px;
}

.dropdown-item {
  color: white !important;
  font-weight: bold;
  text-shadow: 3px 3px 8px black;
}

.navbar-dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: rgba(246, 185, 59, 0.7);
  padding-top: 12px;
}

.navbar-toggler {
  border-color: white !important;
}

/* Title */
.welcome-view {
  text-align: center;
  margin: 250px auto 80px auto;
}

.title {
  font-family: 'Bellota', cursive;
  font-size: 45px;
  padding: 10px 0;
  margin: auto;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 8px black;
  font-style: italic;
}

.subtitle {
  font-size: 60px;
  padding: 20px 0;
  margin: auto;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 8px black;
}

.btn {
  display: inline-block;
  min-width: 200px;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px 0;
  color: white !important;
  background-color: #f6b93b;
}

.btn:hover {
  background-color: #e58e26;
}

/* Properties */
.properties {
  margin: 100px auto;
}

.section-head {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  font-size: 45px;
  margin: 15px auto 5px auto;
  font-weight: bold;
}

.section-head > h2 {
  font-size: 16px;
  margin: 10px auto;
}

.card {
  border: none;
  text-align: center;
}

.icon {
  border: 2px solid #f6b93b;
  border-radius: 50%;
  max-width: 90px;
  margin: 0 auto;
}

.icon:hover {
  border-color: #e58e26;
}

.icon i {
  color: #f6b93b;
  font-size: 50px;
  padding: 20px 0;
  text-align: center;
}

.icon:hover i {
  color: #e58e26;
}

.card-title {
  font-weight: bold;
}

/* Crystals */
.crystals {
  background-color: rgba(246, 185, 59, 0.4);
  padding: 100px 0;
}

.box {
  margin: 10px 0;
}

.photo {
  position: relative;
  height: 300px;
  width: 100%;
}

.photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body {
  text-align: center;
  background-color: white;
}

.card-body h1 {
  font-size: 25px;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer-info i {
  font-size: 10px;
  padding-top: 10px;
}

.footer-info h1 {
  font-size: 20px;
  padding: 10px 2px;
}

.footer-icons {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin: 0;
  padding: 0;
}

.footer-icons li {
  list-style-type: none;
  font-size: 0;
  margin: 0 5px;
}

.footer-icons li i {
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer-icons a {
  text-decoration: none;
}

/* Media */
@media (max-width: 767px) {
  .row {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 35px;
  }
  .footer {
    min-height: auto;
  }
  .footer-info {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer-icons {
    -ms-flex-pack: center;
        justify-content: center;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */