/* Global */
body {
  margin: auto;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
  color: #0a3d62;
  background-attachment: fixed;
}

section {
  padding: 100px 0;
}

/* Navbar */
.start-view {
  background-image: url(/images/close-up-shot-of-crystals-3737455.jpg);
  position: relative;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 20px;
}

.brand a {
  color: white;
  font-size: 30px;
  font-family: 'Bellota', cursive;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
  font-style: italic;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  text-shadow: 2px 2px 5px black;
}

.navigation li {
  position: relative;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

.navigation li:hover > a {
  color: #fad390;
  transition: all 0.5s;
}

.navigation ul ul li {
  display: block;
}

.navigation li ul {
  display: none;
  position: absolute;
  background-color: rgba(246, 185, 59, 0.4);
  padding: 5px 10px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation li:hover ul {
  display: block;
  transition: all 0.5s;
}

.navigation li ul a {
  color: white;
  display: block;
  text-align: center;
  font-size: 15px;
  text-shadow: 1px 1px 2px black;
}

/* Header */
.welcome-view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  font-family: 'Bellota', cursive;
  font-size: 45px;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 8px black;
  font-style: italic;
}

.subtitle {
  font-size: 60px;
  padding: 20px 0;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 8px black;
}

.btn {
  display: inline-block;
  min-width: 200px;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px 0;
  color: white !important;
  background-color: #f6b93b;
}

.btn:hover {
  background-color: #e58e26;
  transition: all 1s;
}

/* Properties */
.section-head {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  font-size: 45px;
  margin: 15px auto 5px auto;
  font-weight: bold;
}

.section-head > h2 {
  font-size: 16px;
  margin: 10px auto;
}

.card {
  border: none;
  text-align: center;
}

.icon {
  border: 2px solid #f6b93b;
  border-radius: 50%;
  max-width: 90px;
  margin: 0 auto;
}

.icon:hover {
  border-color: #e58e26;
  transition: all 0.5s;
}

.icon i {
  color: #f6b93b;
  font-size: 50px;
  padding: 20px 0;
  text-align: center;
}

.icon:hover i {
  color: #e58e26;
  transition: all 0.5s;
}

.card-title {
  font-weight: bold;
}

/* Crystals */
.crystals {
  background-color: rgba(246, 185, 59, 0.4);
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.photo {
  position: relative;
  height: 300px;
  width: 100%;
}

.photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.photo-description {
  text-align: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo-description a {
  text-decoration: none;
}

.photo-description p {
  margin: 0 auto;
}

.photo-title {
  font-size: 25px;
  color: #0a3d62;
  margin-bottom: 0;
}

.photo-title:hover {
  color: #e58e26;
  transition: all 0.5s;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.footer-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
}

.footer-info i {
  font-size: 18px;
  margin-right: 5px;
}

.footer-info h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.footer-icons {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.row ul {
  transform: translateX(-25%);
  padding: 0;
}

.footer-icons li {
  list-style-type: none;
  font-size: 0;
  margin: 0 5px;
}

.footer-icons li i {
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer-icons li:hover i {
  color: black;
  background-color: white;
  transition: all 0.5s;
  border: 1px solid black;
}

.footer-icons a {
  text-decoration: none;
}

/* Media */
@media (max-width: 767px) {
  .row {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .welcome-view {
    margin: auto;
  }
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 35px;
  }
  .footer {
    min-height: auto;
  }
  .footer-info {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer-icons {
    -ms-flex-pack: center;
        justify-content: center;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */