/* Global */

body {
    margin: auto;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
    color: #0a3d62;
    background-attachment: fixed;
}

section {
    padding: 100px 0;
}

/* Navbar */

.start-view {
    background-image: url(/images/close-up-shot-of-crystals-3737455.jpg);
    position: relative;
    height: 800px;
    background-position: center center;
    background-size: cover;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.brand a {
    color: white;
    font-size: 28px;
    font-family: 'Bellota', cursive;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
    font-style: italic;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    text-shadow: 2px 2px 5px black;
}

.navigation li {
    position: relative;
}

.navigation li a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.navigation li:hover > a {
    color: #fad390;
}

.navigation ul ul li {
    display: block;
}

.navigation li ul{
    display: none;
    position: absolute;
    background-color: rgba(246, 185, 59,0.4);
    padding: 5px 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5;
}

.navigation li:hover ul{ 
    display: block;
}

.navigation li ul a {
    color: white;
    display: block;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}

/* Header */

.welcome-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-family: 'Bellota', cursive;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 8px black;
    font-style: italic;
}

.subtitle {
    padding: 20px 0;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 8px black;
    margin: 0;
}

.btn {
    display: inline-block;
    min-width: 200px;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0;
    color: white !important;
    background-color: #f6b93b;
    transition: all 1s;
    cursor: pointer;
}

.btn:hover {
    background-color: #e58e26;
}

/* Properties */

.section-head {
    text-align: center;
    margin-bottom: 50px;
}

.section-title {
    font-size: 45px;
    margin: 15px auto 5px auto;
    font-weight: bold;
}

.section-head > h2 {
    font-size: 16px;
    margin: 10px auto;
}

.card {
    border: none;
    text-align: center;
}

.card-body {
    padding: 0 10px;
}


.icon:hover {
    border-color: #e58e26;
    transition: all 0.5s;
}

.icon i {
    color: #f6b93b;
    font-size: 50px;
    padding: 20px 20px;
    text-align: center;
    border: 2px solid #f6b93b;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: all 0.5s;
}

.icon:hover i {
    color: #e58e26;
}

.card-title{
    font-weight: bold;
    font-size: 25px;
}


/* Crystals */

.crystals {
    background-color: rgba(246, 185, 59,0.4);
}

.box {
    padding-top: 15px;
    padding-bottom: 15px;
}


.box img {
    margin-bottom: -8px;
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.photo-description {
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.photo-description a {
    text-decoration: none;
}

.photo-description p {
    margin: 0 auto;
}

.photo-title {
    font-size: 25px;
    color: #0a3d62;
    margin: 0;
    transition: all 0.5s;
}

.photo-title:hover {
    color: #e58e26;
}

/* Footer */

.footer {
    padding:40px 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.footer-info {
    display: flex;
    align-items: center;
    padding: 0;
}

.footer-info i {
    font-size: 18px;
    margin-right: 5px;
}

.footer-info h1 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.footer-icons {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-inner ul {
    transform: translateX(-50%);
    max-width: fit-content;
    
}


.footer-icons li {
    list-style-type: none;
    font-size: 0;
    margin: 0 5px;
}

.footer-icons li i{
    display: flex;
    font-size: 20px;
    color: white;
    background-color:black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.footer-icons li:hover i {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.footer-icons a {
    text-decoration: none;
}

/* Media */

@media (max-width: 768px) {
    
    .row {
        flex-direction: column;
    }
    
    .welcome-view{
        position: relative;
        display: block;
        transform: none;
        left: 0;
        top: 0;
        padding-top: 15px;
    }

    .brand a {
        font-size: 45px;
    }
    .navigation {
        display: block;
        text-align: center;
        padding: 20px 0; 
    }

    .navigation ul li {
        display: block;
        font-size: 20px;
    }

    .navigation li ul {
        position: static;
        transform: none;
        margin: 5px 0;
        left: 50%;
    }

    .card-title{
        margin: 20px;
    }

   .footer-inner ul {
       transform: none;
       justify-content: center;
       max-width: none;
   }

   .footer-info {
       justify-content: center;
       padding-bottom: 10px;
   }
}

@media screen and (min-width: 991px) {

    .title {
      font-size: 45px !important;
    }

    .subtitle {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 375px) {

    .title {
      font-size: 25px !important;
    }

    .subtitle {
        font-size: 35px !important;
    }
}
